<div class="container-fluid" id="login_form">
    <div class="contact_form row m-3" id="login_frame">
        <form method="POST" action="{{ path('app_login')}}">
            <h1 class="h3 mb-4 font-weight-normal text-center">Sign In to Fiverr sponsorship</h1>
            <hr class="hr_login">
            <div class="col-md my-4">
                <div class="form-floating">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label for="inputEmail">Email</label>
                </div>
            </div>
            <div class="col-md my-4">
                <div class="form-floating">
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <label for="inputPassword">Password</label>
                </div>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            > 
            <div class="col-md my-5 text-center">
                <button class="btn" type="submit">
                    Sign in
                </button>
            </div>
        </form>
    </div>
</div>

