{% extends 'base.html.twig' %}

{% block title %}Juniors{% endblock %}

{% block navbar %}{% include '_navbar.html.twig' %}{% endblock %}

{% block body %}

<div class="listpage pb-5">

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images-ext-2.discordapp.net/external/zJah_JXyMAH9whHY_1Zt2BYGozruLxmpG273U4mAGRI/https/zupimages.net/up/21/26/mc9l.png" class="d-block w-100">
        </div>
    </div>
</div>

<br>

<div class="container text-center">
    <div class="junior_title">
        <h1>Juniors</h1>
    </div>
</div>

<br>

<div class="containercard">
    <div class="blocleft">
        <div class="junior_card_match mb-2">
            <div class="junior_picture1"></div>
            <div class="junior_description ms-3">
                <div class="text-center mt-3">
                    <p>Hello i'm Tom, a young junior back-end Dev ! Actually looking for an internship at Fiverr</p>
                </div>
            </div>
        </div>
        <div class="junior_buttons d-flex justify-content-start ms-5">
            <div class="ms-5 px-1"><button class="btn btn-primary">Add Friend</button></div>
            <div class="px-1"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
        </div>
    </div>
    <div class="blocright">
        <div class="junior_card_match mb-2">
            <div class="junior_picture1"></div>
            <div class="junior_description ms-3">
                <div class="text-center mt-3">
                    <p>Hello i'm Tom, a young junior back-end Dev ! Actually looking for an internship at Fiverr</p>
                </div>
            </div>
        </div>
        <div class="junior_buttons d-flex justify-content-start ms-5">
            <div class="ms-5 px-1"><button class="btn btn-primary">Add Friend</button></div>
            <div class="px-1"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
        </div>
    </div>
</div>
<div class="containercard">
    <div class="blocleft">
        <div class="junior_card_match mb-2">
            <div class="junior_picture1"></div>
            <div class="junior_description ms-3">
                <div class="text-center mt-3">
                    <p>Hello i'm Tom, a young junior back-end Dev ! Actually looking for an internship at Fiverr</p>
                </div>
            </div>
        </div>
        <div class="junior_buttons d-flex justify-content-start ms-5">
            <div class="ms-5 px-1"><button class="btn btn-primary">Add Friend</button></div>
            <div class="px-1"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
        </div>
    </div>
    <div class="blocright">
        <div class="junior_card_match mb-2">
            <div class="junior_picture1"></div>
            <div class="junior_description ms-3">
                <div class="text-center mt-3">
                    <p>Hello i'm Tom, a young junior back-end Dev ! Actually looking for an internship at Fiverr</p>
                </div>
            </div>
        </div>
        <div class="junior_buttons d-flex justify-content-start ms-5">
            <div class="ms-5 px-1"><button class="btn btn-primary">Add Friend</button></div>
            <div class="px-1"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
        </div>
    </div>
</div>
<div class="containercard">
    <div class="blocleft">
        <div class="junior_card_match mb-2">
            <div class="junior_picture1"></div>
            <div class="junior_description ms-3">
                <div class="text-center mt-3">
                    <p>Hello i'm Tom, a young junior back-end Dev ! Actually looking for an internship at Fiverr</p>
                </div>
            </div>
        </div>
        <div class="junior_buttons d-flex justify-content-start ms-5">
            <div class="ms-5 px-1"><button class="btn btn-primary">Add Friend</button></div>
            <div class="px-1"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
        </div>
    </div>
    <div class="blocright">
        <div class="junior_card_match mb-2">
            <div class="junior_picture1"></div>
            <div class="junior_description ms-3">
                <div class="text-center mt-3">
                    <p>Hello i'm Tom, a young junior back-end Dev ! Actually looking for an internship at Fiverr</p>
                </div>
            </div>
        </div>
        <div class="junior_buttons d-flex justify-content-start ms-5">
            <div class="ms-5 px-1"><button class="btn btn-primary">Add Friend</button></div>
            <div class="px-1"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
        </div>
    </div>
</div>

{# MODAL PART #}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact-me</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}

{% block footer %}{% include '_footer.html.twig' %}{% endblock %}