{% extends 'base.html.twig' %}

{% block title %}Seniors{% endblock %}

{% block navbar %}{% include '_navbar.html.twig' %}{% endblock %}

{% block body %}

<div class="listpage pb-5">
    <div id="carouselExampleSlidesOnly" class="carousel slide mb-5" data-bs-ride="carousel" style="box-shadow: 3px 11px 15px 5px rgba(0,0,0,0.36);">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images-ext-2.discordapp.net/external/zJah_JXyMAH9whHY_1Zt2BYGozruLxmpG273U4mAGRI/https/zupimages.net/up/21/26/mc9l.png" class="d-block w-100">
            </div>
        </div>
    </div>
    <div class="container text-center mb-5">
        <div class="junior_title">
            <h1>Seniors</h1>
        </div>
    </div>
    {# partie desk #}
    <section class="d-none d-sm-none d-md-block">
        <div class="containercard">
            <div class="blocleft">
                <div class="junior_card_match mb-2">
                    <div class="junior_picture1"></div>
                    <div class="junior_description ms-3">
                        <div class="text-center mt-3">
                            <p>Hello i'm Tom, a senior back-end Dev ! Actually looking for an internship at Fiverr.</p>
                        </div>
                    </div>
                </div>
                <div class="junior_buttons d-flex justify-content-start ms-5">
                    <div class="ms-5 px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addfriend">Add Friend</button></div>
                    <div class="px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
                </div>
            </div>
            <div class="blocright">
                <div class="junior_card_match mb-2">
                    <div class="junior_picture2"></div>
                    <div class="junior_description ms-3">
                        <div class="text-center mt-3">
                            <p>Hello i'm Jerry, a senior back-end Dev ! Actually looking for an internship at Fiverr.</p>
                        </div>
                    </div>
                </div>
                <div class="junior_buttons d-flex justify-content-start ms-5">
                    <div class="ms-5 px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addfriend">Add Friend</button></div>
                    <div class="px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
                </div>
            </div>
        </div>
        <div class="containercard">
            <div class="blocleft">
                <div class="junior_card_match mb-2">
                    <div class="junior_picture3"></div>
                    <div class="junior_description ms-3">
                        <div class="text-center mt-3">
                            <p>Hello i'm Avery, a senior front-end Dev ! Actually looking for an internship at Fiverr.</p>
                        </div>
                    </div>
                </div>
                <div class="junior_buttons d-flex justify-content-start ms-5">
                    <div class="ms-5 px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addfriend">Add Friend</button></div>
                    <div class="px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
                </div>
            </div>
            <div class="blocright">
                <div class="junior_card_match mb-2">
                    <div class="junior_picture4"></div>
                    <div class="junior_description ms-3">
                        <div class="text-center mt-3">
                            <p>Hello i'm Mila, a senior back-end Dev ! Actually looking for an internship at Fiverr.</p>
                        </div>
                    </div>
                </div>
                <div class="junior_buttons d-flex justify-content-start ms-5">
                    <div class="ms-5 px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addfriend">Add Friend</button></div>
                    <div class="px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
                </div>
            </div>
        </div>
        <div class="containercard">
            <div class="blocleft">
                <div class="junior_card_match mb-2">
                    <div class="junior_picture5"></div>
                    <div class="junior_description ms-3">
                        <div class="text-center mt-3">
                            <p>Hello i'm Amy, a senior back-end Dev ! Actually looking for an internship at Fiverr.</p>
                        </div>
                    </div>
                </div>
                <div class="junior_buttons d-flex justify-content-start ms-5">
                    <div class="ms-5 px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addfriend">Add Friend</button></div>
                    <div class="px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
                </div>
            </div>
            <div class="blocright">
                <div class="junior_card_match mb-2">
                    <div class="junior_picture6"></div>
                    <div class="junior_description ms-3">
                        <div class="text-center mt-3">
                            <p>Hello i'm Jess, a senior front-end Dev ! Actually looking for an internship at Fiverr.</p>
                        </div>
                    </div>
                </div>
                <div class="junior_buttons d-flex justify-content-start ms-5">
                    <div class="ms-5 px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addfriend">Add Friend</button></div>
                    <div class="px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
                </div>
            </div>
        </div>
    </section>
    {# partie responsive #}
    <section class="container fluid d-flex justify-content-center">
        <div class="d-block d-sm-block d-md-none containercardresp">
            <div class="blocleft mt-5">
                <div class="junior_card_match mb-2">
                    <div class="junior_picture1"></div>
                    <div class="junior_description ms-3">
                        <div class="text-center mt-3">
                            <p>Hello i'm Tom, a senior back-end Dev ! Actually looking for an internship at Fiverr.</p>
                        </div>
                    </div>
                </div>
                <div class="junior_buttons d-flex justify-content-start ms-5">
                    <div class="ms-5 px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addfriend">Add Friend</button></div>
                    <div class="px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
                </div>
            </div>
            <div class="blocright mt-5">
                <div class="junior_card_match mb-2">
                    <div class="junior_picture2"></div>
                    <div class="junior_description ms-3">
                        <div class="text-center mt-3">
                            <p>Hello i'm Jerry, a senior back-end Dev ! Actually looking for an internship at Fiverr.</p>
                        </div>
                    </div>
                </div>
                <div class="junior_buttons d-flex justify-content-start ms-5">
                    <div class="ms-5 px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addfriend">Add Friend</button></div>
                    <div class="px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
                </div>
            </div>
            <div class="blocleft mt-5">
                <div class="junior_card_match mb-2">
                    <div class="junior_picture3"></div>
                    <div class="junior_description ms-3">
                        <div class="text-center mt-3">
                            <p>Hello i'm Avery, a senior front-end Dev ! Actually looking for an internship at Fiverr.</p>
                        </div>
                    </div>
                </div>
                <div class="junior_buttons d-flex justify-content-start ms-5">
                    <div class="ms-5 px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addfriend">Add Friend</button></div>
                    <div class="px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
                </div>
            </div>
            <div class="blocright mt-5">
                <div class="junior_card_match mb-2">
                    <div class="junior_picture4"></div>
                    <div class="junior_description ms-3">
                        <div class="text-center mt-3">
                            <p>Hello i'm Mila, a senior back-end Dev ! Actually looking for an internship at Fiverr.</p>
                        </div>
                    </div>
                </div>
                <div class="junior_buttons d-flex justify-content-start ms-5">
                    <div class="ms-5 px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addfriend">Add Friend</button></div>
                    <div class="px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
                </div>
            </div>
            <div class="blocleft mt-5">
                <div class="junior_card_match mb-2">
                    <div class="junior_picture5"></div>
                    <div class="junior_description ms-3">
                        <div class="text-center mt-3">
                            <p>Hello i'm Amy, a senior back-end Dev ! Actually looking for an internship at Fiverr.</p>
                        </div>
                    </div>
                </div>
                <div class="junior_buttons d-flex justify-content-start ms-5">
                    <div class="ms-5 px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addfriend">Add Friend</button></div>
                    <div class="px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
                </div>
            </div>
            <div class="blocright mt-5">
                <div class="junior_card_match mb-2">
                    <div class="junior_picture6"></div>
                    <div class="junior_description ms-3">
                        <div class="text-cestyle"box-shadow: 1px -8px 15px 5px rgba(0,0,0,0.36);"d-flex justify-content-start ms-5">
                    <div class="ms-5 px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addfriend">Add Friend</button></div>
                    <div class="px-1"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Send a message</button></div>
                </div>
            </div>
        </div>
    </section>
</div>

{# MODAL PART #}
{# modal send message#}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact-me :)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form><textarea placeholder="Hey ! Tape your message here" style="width: 100%;"></textarea></form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Send Message</button>
            </div>
        </div>
    </div>
</div>
{# modal add friend #}
<div class="modal fade" id="addfriend" tabindex="-1" aria-labelledby="addfriend" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your request has been sent!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Senior dev will answer you very soon :)</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block footer %}{% include '_footer.html.twig' %}{% endblock %}